<h2><%= repo.name %> / <%= link_to repo.user.username, '#' %></h2>
<div class="row">
  <div class="span6">
    <h3>Data Sources</h3>
    <% repo.data_sources.each do |ds| %>
      <div class="data_source">
        <%= link_to ds.source_file_name, ds.source.url %>
        <span class="data_source_stats"><%= ds.source_file_size %> bytes</span>
      </div>
    <% end %>
    <%= link_to("+ add file", "#") if current_user?(repo.user.id) && repo.data_sources.count < 5 %>

    <h3>Description</h3>
    <p><b>Name</b>:<br /><%= repo.name %></p>
    <p><b>Description</b>:<br /><%= repo.description %></p>
    <p><b>Schema</b>:<br /><%= repo.schema %></p>
    <% if repo.public? || repo.public.nil? %>
      Public
    <% else %>
      Private
    <% end %>
    </div>
  <div class="span5 data_actions">
    <h3>Community Use of Data</h3>
    <% repo.data_actions.each do |a,n| %>
      <%= render a %>
    <% end %>
    <%= form_for repo.data_actions.build do |f| %>
      <%= f.text_area :description, placeholder: "Describe your work", class: "span5" %>
      <%= f.hidden_field :repo_id, value: repo.id %>
      <%= f.text_field :url, placeholder: "url to work (website, image, article, ...)", class: "span5" %><br />
      <%= f.submit "Show your work" %>
    <% end unless current_user.nil?%>
  </div>
</div>