  <%= render 'errors', repo: repo %>
  <p>
    <%= f.label :name, text: "Project Name" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :schema %>
    <%= f.text_area :schema %>
  </p>
  <%= f.fields_for :data_sources, repo.data_sources.build do |builder| %>
    <%= render 'data_sources/data_source_fields', f: builder %>
  <% end %>